.profileMenu {
  background-color: white;
  box-shadow: 0 -3px 28px rgba(0, 0, 0, 0.2);
  min-width: 17rem;
  position: absolute;
  right: 0;
  top: 134%;
  padding: 1.5rem 2rem 1.7rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.4rem;
  z-index: 10;
}

.menu {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  white-space: nowrap;
  gap: 0.5rem;
  cursor: pointer;
}

.menu:global(.active) {
  color: var(--color-primary);
}
.menu svg {
  flex-shrink: 0;
}

.profileMenu button.menu {
  color: var(--color-danger);
}
