.imageScroller {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
}

.img {
  position: relative;
  width: 70%;
  height: 200px;
  flex-shrink: 0;
  background-color: var(--color-white-2);
}

.img img {
  object-fit: contain;
}

.option,
.delete,
.zoom {
  width: 3.4rem;
  height: 3.4rem;
  font-size: 2rem;
  position: absolute;
  bottom: 0.7rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-weight: 500;
  cursor: pointer;
}

.option {
  background-color: var(--color-primary);
  left: 0.7rem;
  color: white;
}

.delete {
  background-color: #eed7db;
  right: 0.7rem;
  color: var(--color-danger);
  transition: all 0.2s ease-in;
}

.delete:active {
  background-color: hsl(350, 40%, 79%);
}

.zoom {
  right: 0.7rem;
  font-size: 3rem;
}

@media (hover: hover) {
  .delete:hover {
    background-color: hsl(350, 40%, 84%);
  }
  .delete:active {
    background-color: hsl(350, 40%, 79%);
  }
}

@media screen and (min-width: 500px) {
  .imageScroller {
    padding-bottom: 1rem;
  }
  .imageScroller::-webkit-scrollbar {
    height: 1.3rem;
    background-color: var(--color-white-1);
  }
  .imageScroller::-webkit-scrollbar-thumb {
    background-color: hsl(192, 52%, 81%);
    border-radius: 50vw;
  }
}

@media screen and (min-width: 750px) {
  .img {
    width: 60%;
    height: 300px;
  }
}
