.nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--color-primary);
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}

.menulist {
  display: flex;
  margin-left: auto;
  gap: 1rem;
  align-items: center;
}

.menu {
  font-size: 2.6rem;
  border-radius: 50%;
  background-color: var(--color-white-1);
  padding: 0.9rem;
}

.menu.active {
  background-color: var(--color-active-menu);
}

.menu svg {
  color: var(--color-text);
}

.authBtn {
  font-size: 2rem;
  margin-left: 1rem;
  color: var(--color-text);
}

.avatar {
  overflow: hidden;
  margin-left: 1rem;
  background-color: var(--color-border-white);
  border-radius: 50%;
}
