.createBody {
  padding-block: 2rem 5rem;
}

.createBody form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.formDiv label {
  font-size: 1.8rem;
  color: #7f8c8d;
}

.createBody textarea,
.createBody input,
.createBody select {
  font-size: 2rem;
  padding: 0.7rem 1rem 1rem;
  border: 1px solid var(--color-input-border);
  border-radius: 0.7rem;
  color: var(--color-text);
  background-color: var(--color-white-2);
}

.createBody input[type='file'] {
  display: none;
}

.createBody textarea:is(:active, :focus),
.createBody select:is(:active, :focus),
.createBody input:is(:active, :focus) {
  border-color: var(--color-text);
}

.optionsWrapper {
  display: grid;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.labelDiv {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.labelDiv svg {
  color: var(--color-danger);
  font-size: 2rem;
}

/* For Btn Margin */
.createBody select {
  margin-bottom: 1rem;
}

.createBtn,
.addBtn,
.addPhotoBtn {
  border-radius: 0.7rem;
  transition: all 0.2s ease-in;
}

.createBtn {
  background-color: var(--color-primary);
  color: white;
  padding-block: 0.9rem;
  border-radius: 0.7rem;
}

.addBtn,
.addPhotoBtn {
  font-size: 1.5rem;
  padding-block: 0.8rem;
  color: var(--color-text);
}

.addBtn {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  width: 11rem;
  background-color: #e7f9fe;
}

.addPhotoBtn {
  width: 9rem;
  border: 1px dashed var(--color-primary-deep);
  color: var(--color-primary-deep);
}

.createBtn:active {
  background-color: hsl(192, 52%, 30%);
}
.addBtn:active {
  border-color: hsl(192, 52%, 30%);
  background-color: hsl(193, 92%, 86%);
}
.addPhotoBtn:active {
  background-color: hsl(192, 52%, 93%);
  border-style: solid;
}

@media (hover: hover) {
  .createBtn:hover {
    background-color: hsl(192, 52%, 37%);
  }
  .createBtn:active {
    background-color: hsl(192, 52%, 30%);
  }

  .addBtn:hover {
    border-color: hsl(192, 52%, 37%);
    background-color: hsl(193, 92%, 91%);
  }

  .addBtn:active {
    border-color: hsl(192, 52%, 30%);
    background-color: hsl(193, 92%, 86%);
  }

  .addPhotoBtn:hover {
    background-color: hsl(192, 52%, 97%);
  }
  .addPhotoBtn:active {
    background-color: hsl(192, 52%, 93%);
    border-style: solid;
  }
}

@media screen and (min-width: 750px) {
  .optionsWrapper {
    grid-template-columns: 1fr 1fr;
  }
}
