:root {
  --color-primary: #3b99b0;
  --color-primary-deep: #283540;
  --color-primary-light: #c4d4d4;
  --color-white-1: #f6f9f9;
  --color-white-2: #d6e4e5;
  --color-white-3: #eff5f5;
  --color-white-4: #e0ebeb;
  --color-green: #9dafb0;
  --color-blue: #6ecde4;
}

/**
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  /* scroll-margin-top: 6.6rem; */
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body,
#__next {
  height: 100%;
}

main {
  /* min-height: 100%; */
  height: inherit;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  color: var(--color-primary-deep);
}

html:focus-within {
  scroll-behavior: smooth;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Default font size for REM */
h1 {
  font-size: 3.3rem;
  font-weight: 600;
}
h2 {
  font-size: 2.4rem;
  font-weight: 600;
}
h3 {
  font-size: 2.24rem;
}

h4,
p {
  font-size: 1.7rem;
}
strong {
  font-weight: bold;
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

::placeholder {
  opacity: 0.6;
  /* color: white; */
}

.wrapper {
  width: 95%;
  max-width: 750px;
  margin-inline: auto;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.9rem;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  justify-content: center;
}

button:disabled {
  opacity: 0.5;
}

input,
select,
textarea {
  outline: transparent;
}

/* Nav */
nav {
  box-shadow: 0 -2px 18px rgba(0, 0, 0, 0.3);
  padding-block: 0.8rem;
  position: sticky;
  top: 0;
  background-color: white;
}

/* Header */

.header {
  border-bottom: 1px solid var(--color-primary-deep);
  width: fit-content;
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
}

.btn {
  background-color: var(--color-primary);
  color: white;
  padding: 0.9rem 2rem;
  border-radius: 0.7rem;
  width: 15rem;
}

.btn.full {
  width: 100%;
}
